/* line 12, ../scss/style.scss */
body {
  background-color: #fefefe;
  color: #151414;
  font-family: 'Open sans',sans-serif;
}

/* line 18, ../scss/style.scss */
#container {
  background: #d1d1d1;
  width: 1180px;
  margin: 0 auto;
}

/* line 24, ../scss/style.scss */
header {
  font-size: 3em;
}
