@import url("normalize.css");
@import url("main.css");
/* line 5, ../scss/_icons.scss */
.logo {
  text-indent: -9992px;
  display: inline-block;
  vertical-align: middle;
  background: url("img/sprt.png") no-repeat;
  position: relative;
  margin: 0 4px 4px 0;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
  /*&:before {
      content: '';
      background: url(img/sprite.png) no-repeat;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      opacity: 0;
      
      @include transition(opacity 0.2s ease-in-out);
  }*/
}
/* line 27, ../scss/_icons.scss */
.logo:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}

/* line 32, ../scss/_icons.scss */
.logo:last-child {
  margin-right: 0;
}

/* line 36, ../scss/_icons.scss */
.logo-html5, .logo-html5:before {
  width: 30px;
  height: 42px;
}

/* line 41, ../scss/_icons.scss */
.logo-css3, .logo-css3:before {
  width: 32px;
  height: 38px;
}

/* line 46, ../scss/_icons.scss */
.logo-jquery, .logo-jquery:before {
  width: 75px;
  height: 18px;
}

/* line 51, ../scss/_icons.scss */
.logo-php, .logo-php:before {
  width: 56px;
  height: 29px;
}

/* line 56, ../scss/_icons.scss */
.logo-git, .logo-git:before {
  width: 38px;
  height: 38px;
}

/* line 61, ../scss/_icons.scss */
.logo-design, .logo-design:before {
  width: 35px;
  height: 35px;
}

/* line 66, ../scss/_icons.scss */
.logo-flash, .logo-flash:before {
  width: 33px;
  height: 34px;
}

/* line 71, ../scss/_icons.scss */
.logo-flex, .logo-flex:before {
  width: 33px;
  height: 33px;
}

/* line 76, ../scss/_icons.scss */
.logo-wordpress, .logo-wordpress:before {
  width: 38px;
  height: 36px;
}

/* line 81, ../scss/_icons.scss */
.logo-drupal, .logo-drupal:before {
  width: 35px;
  height: 39px;
}

/* line 88, ../scss/_icons.scss */
.logo-html5 {
  background-position: 0 0;
}
/* line 91, ../scss/_icons.scss */
.logo-html5:before {
  background-position: 0 -42px;
}

/* line 96, ../scss/_icons.scss */
.logo-css3 {
  background-position: -30px 0;
}
/* line 99, ../scss/_icons.scss */
.logo-css3:before {
  background-position: -30px -42px;
}

/* line 104, ../scss/_icons.scss */
.logo-jquery {
  background-position: -288px 0;
}
/* line 107, ../scss/_icons.scss */
.logo-jquery:before {
  background-position: -288px -42px;
}

/* line 113, ../scss/_icons.scss */
.logo-php {
  background-position: -231px 0;
}
/* line 116, ../scss/_icons.scss */
.logo-php:before {
  background-position: -231px -42px;
}

/* line 122, ../scss/_icons.scss */
.logo-git {
  background-position: -107px 0;
}
/* line 125, ../scss/_icons.scss */
.logo-git:before {
  background-position: -107px -42px;
}

/* line 130, ../scss/_icons.scss */
.logo-design {
  background-position: -153px 0;
}
/* line 133, ../scss/_icons.scss */
.logo-design:before {
  background-position: -153px -42px;
}

/* line 138, ../scss/_icons.scss */
.logo-flash {
  background-position: -370px 0;
}

/* line 147, ../scss/_icons.scss */
.logo-flex {
  background-position: -410px 0;
}

/* line 157, ../scss/_icons.scss */
.logo-wordpress {
  background-position: -67px 0;
}
/* line 160, ../scss/_icons.scss */
.logo-wordpress:before {
  background-position: -67px -42px;
}

/* line 165, ../scss/_icons.scss */
.logo-drupal {
  background-position: -195px 0;
}

/* line 175, ../scss/_icons.scss */
.logo:hover:before {
  opacity: 1;
}

/*border box for all elements*/
/* line 88, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 92, ../scss/style.scss */
body {
  background-color: #fefefe;
  color: #151414;
  font-family: 'Muli',sans-serif;
  font-style: normal;
}

/* line 100, ../scss/style.scss */
#masthead {
  position: relative;
  z-index: 9999;
  margin-bottom: 4.25em;
  /*for contact icons*/
  border-bottom: 6px solid #363636;
}
/* line 107, ../scss/style.scss */
#masthead .container {
  background: #101010;
  z-index: 3;
  padding: 1.25em 1.25em 0.625em 1.25em;
}
@media (min-width: 60em) {
  /* line 107, ../scss/style.scss */
  #masthead .container {
    z-index: 1;
  }
}
@media (min-width: 50em) {
  /* line 107, ../scss/style.scss */
  #masthead .container {
    padding-bottom: 1.25em;
  }
}
/* line 124, ../scss/style.scss */
#masthead h1 {
  font-size: 2.4em;
  margin-bottom: 0;
  display: inline-block;
}
/* line 130, ../scss/style.scss */
#masthead h2 {
  margin-bottom: 0;
}
/* line 134, ../scss/style.scss */
#masthead hgroup {
  /*background: url(../img/css/logo.gif) no-repeat;*/
  /*@include logoSize(120px);*/
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 1000;
}
@media (max-width: 30em) {
  /* line 134, ../scss/style.scss */
  #masthead hgroup {
    font-size: 60%;
  }
}
@media (min-width: 50em) {
  /* line 100, ../scss/style.scss */
  #masthead {
    padding-bottom: 0;
  }
}
@media (min-width: 60em) {
  /* line 100, ../scss/style.scss */
  #masthead {
    margin-bottom: 1.25em;
  }
}

/* line 156, ../scss/style.scss */
#logo {
  width: 120px;
  display: inline-block;
  margin-right: 1.25em;
}
@media (max-width: 30em) {
  /* line 156, ../scss/style.scss */
  #logo {
    width: 80px;
    margin-right: 0.5em;
  }
}

/* line 169, ../scss/style.scss */
#footer-logo {
  width: 40px;
  float: right;
  padding-top: 8px;
  opacity: .7;
}

/* line 176, ../scss/style.scss */
#content {
  position: relative;
  z-index: 1;
}

/* line 181, ../scss/style.scss */
.images, .column {
  display: inline-block;
  vertical-align: top;
}

/* line 187, ../scss/style.scss */
.images {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
@media (min-width: 50em) {
  /* line 187, ../scss/style.scss */
  .images {
    width: 46.83544%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 70em) {
  /* line 187, ../scss/style.scss */
  .images {
    width: 65.28926%;
    float: right;
    margin-right: 0;
  }
}

/* line 201, ../scss/style.scss */
.article-body, .project-head {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
@media (min-width: 50em) {
  /* line 201, ../scss/style.scss */
  .article-body, .project-head {
    width: 46.83544%;
    float: left;
    margin-right: 6.32911%;
  }
}
@media (min-width: 70em) {
  /* line 201, ../scss/style.scss */
  .article-body, .project-head {
    width: 30.57851%;
    float: left;
    margin-right: 4.13223%;
  }
}

/* line 215, ../scss/style.scss */
#about {
  width: 100%;
  float: left;
  margin-right: 13.51351%;
  display: inline;
}
@media (min-width: 50em) {
  /* line 215, ../scss/style.scss */
  #about {
    width: 46.83544%;
    float: left;
    margin-right: 6.32911%;
  }
}
@media (min-width: 70em) {
  /* line 215, ../scss/style.scss */
  #about {
    width: 47.93388%;
    float: left;
    margin-right: 4.13223%;
  }
  /* line 227, ../scss/style.scss */
  #about p {
    margin-bottom: 0;
  }
}

/* line 233, ../scss/style.scss */
#skills {
  width: 100%;
  float: left;
  margin-right: 13.51351%;
  display: inline;
}
@media (min-width: 50em) {
  /* line 233, ../scss/style.scss */
  #skills {
    width: 46.83544%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 70em) {
  /* line 233, ../scss/style.scss */
  #skills {
    width: 30.57851%;
    float: left;
    margin-right: 4.13223%;
  }
}

/*#footer-nav {
     @include span-columns(2,2);
    
    @include at-breakpoint($media-layout-medium){
       
       @include span-columns(2 omega,4); 
    }
    
    @include at-breakpoint($media-layout-large){
       
       @include span-columns(1 omega,6); 
    }
}*/
/* line 261, ../scss/style.scss */
#nav li {
  display: inline;
}

/* line 265, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

/* line 270, ../scss/style.scss */
.container {
  max-width: 1920px;
  padding: 1.25em;
  position: relative;
  *zoom: 1;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 50em) {
  /* line 270, ../scss/style.scss */
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

/* line 284, ../scss/style.scss */
#masthead, #mastfooter, #legal {
  background: #101010;
  color: #f3f3f3;
}

/* line 289, ../scss/style.scss */
#mastfooter {
  background: #363636;
}
/* line 292, ../scss/style.scss */
#mastfooter a {
  border: 0;
}

/* line 297, ../scss/style.scss */
.project {
  border-bottom: 1px solid #cccccc;
  padding: 1.25em 0 1.25em 0;
  padding-top: 30px;
  margin-top: 1.25em;
  position: relative;
    /*@include transition(all 0.5s ease);

   padding-left: $articleNegativeMargin;
   margin-left: -$articleNegativeMargin;*/
}
/* line 309, ../scss/style.scss */
.project img {
  border: 1px solid #cccccc;
}
/* line 313, ../scss/style.scss */
.project.mobile img {
  border: 0;
}
/* line 317, ../scss/style.scss */
.project.expanded {
  padding-bottom: 3.75em;
}
/* line 321, ../scss/style.scss */
.project .button {
  /*prevent shadow clipping due to overflow hidden*/
  margin-left: 2px;
}

/* line 330, ../scss/style.scss */
.expander {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: -24px;
  opacity: 0;
  text-decoration: none;
  font-weight: bold;
  color: #151414;
  background: #fff;
  z-index: 1;
  outline: 0;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  border: 1px solid #151414;
  box-sizing: content-box;
}
@media (min-width: 50em) {
  /* line 330, ../scss/style.scss */
  .expander {
    display: block;
  }
}
/* line 361, ../scss/style.scss */
.expander:after {
  content: '';
  left: 6px;
  top: 11px;
  width: 12px;
  height: 2px;
  background: #151414;
  display: block;
  position: absolute;
}
/* line 372, ../scss/style.scss */
.expander:before {
  content: '';
  z-index: 10;
  left: 11px;
  top: 6px;
  width: 2px;
  height: 12px;
  background: #151414;
  display: block;
  position: absolute;
}

/* line 385, ../scss/style.scss */
.focused .expander {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
}

/* line 391, ../scss/style.scss */
.expanded .expander {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-15px) rotate(-45deg);
  -moz-transform: translateX(-15px) rotate(-45deg);
  -ms-transform: translateX(-15px) rotate(-45deg);
  -o-transform: translateX(-15px) rotate(-45deg);
  transform: translateX(-15px) rotate(-45deg);
}
/* line 396, ../scss/style.scss */
.expanded .expander:after {
  background: #ec0000;
}
/* line 400, ../scss/style.scss */
.expanded .expander:before {
  background: #ec0000;
}

/* line 406, ../scss/style.scss */
.article-footer {
  padding-top: 1.25em;
}

/* line 411, ../scss/style.scss */
.article-body {
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

/* line 415, ../scss/style.scss */
.project-heading {
  position: relative;
}

/* line 420, ../scss/style.scss */
.project img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* line 426, ../scss/style.scss */
.article-divider {
  margin: 0 auto;
  width: 78px;
  border-color: #fefefe;
  position: relative;
  top: -1px;
}

/* line 434, ../scss/style.scss */
.transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /*@include transform(translateZ(0)); */
}

/* line 439, ../scss/style.scss */
.list-heading {
  margin-bottom: 4px;
  color: #817e7e;
}

/* line 444, ../scss/style.scss */
.button {
  background: #bababa;
  padding: 5px 7px;
  text-decoration: none;
  margin-top: 2em;
  display: inline-block;
  color: #fefefe;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 455, ../scss/style.scss */
.button:visited {
  color: #fefefe;
}
/* line 459, ../scss/style.scss */
.button:hover {
  color: #1f9bb5;
  background: #dcdcdc;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 468, ../scss/style.scss */
input, textarea {
  font-family: 'Muli',sans-serif;
  border: 1px solid #817e7e;
  padding: 2px;
}

/* line 474, ../scss/style.scss */
.external-link {
  position: relative;
  padding-right: 24px;
}
/* line 478, ../scss/style.scss */
.external-link:after {
  content: '';
  position: absolute;
  top: 8px;
  right: 3px;
  display: block;
  width: 13px;
  height: 13px;
  background: url("img/sprt.png") no-repeat 0 -112px;
}

/* line 493, ../scss/style.scss */
.technologies {
  margin: 0;
  padding: 4px 0 0 0;
  border-bottom: 1px dotted #f3f3f3;
  border-top: 1px dotted #f3f3f3;
}

/* line 501, ../scss/style.scss */
.annum {
  border-top: 1px solid #101010;
  position: relative;
  padding-bottom: 1.25em;
  margin-top: 2.5em;
}

/* line 508, ../scss/style.scss */
.annum-heading {
  position: absolute;
  color: #1f9bb5;
  top: -1.3em;
  left: 0;
}
@media (min-width: 50em) {
  /* line 508, ../scss/style.scss */
  .annum-heading {
    top: -0.7em;
    left: -2.5em;
  }
}

/* line 523, ../scss/style.scss */
.content-heading {
  font-weight: bold;
  margin-bottom: 2em;
}

/* line 528, ../scss/style.scss */
#technologies {
  background: #cdcbcb;
  height: 42px;
}
/* line 534, ../scss/style.scss */
#technologies .container {
  padding: 0;
}

/* line 539, ../scss/style.scss */
#html5 img {
  margin-top: -11px;
}

/* line 543, ../scss/style.scss */
#contact {
  position: relative;
  z-index: 100;
}
/* line 548, ../scss/style.scss */
#contact #contact-options {
  margin: 0;
  padding: 0 1.25em;
  background: #101010;
  text-align: center;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
@media (min-width: 60em) {
  /* line 548, ../scss/style.scss */
  #contact #contact-options {
    text-align: right;
    padding: 0 1.25em;
  }
  /* line 560, ../scss/style.scss */
  #contact #contact-options .email {
    margin-right: 0;
  }
}
/* line 566, ../scss/style.scss */
#contact input {
  display: block;
}

/* line 575, ../scss/style.scss */
.no-js #contact #contact-form-expander {
  display: none;
}

/* line 580, ../scss/style.scss */
#contact-wrapper {
  position: relative;
  -webkit-transition: margin-bottom 0.3s ease;
  -moz-transition: margin-bottom 0.3s ease;
  -o-transition: margin-bottom 0.3s ease;
  transition: margin-bottom 0.3s ease;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 587, ../scss/style.scss */
.translucent {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 594, ../scss/style.scss */
.js .project {
  height: 200px;
  overflow-y: hidden;
  overflow-x: visible;
  cursor: pointer;
}
@media (min-width: 50em) {
  /* line 594, ../scss/style.scss */
  .js .project {
    height: 160px;
  }
}
/* line 606, ../scss/style.scss */
.js .project:hover .bottom-expander div {
  bottom: -10px;
  /*background-position-y: -194px;*/
}
/* line 612, ../scss/style.scss */
.js .project.expanded {
  height: auto;
  cursor: default;
}
/* line 617, ../scss/style.scss */
.js .project.expanded .article-body {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 621, ../scss/style.scss */
.js .project.expanded .bottom-expander div {
  background-position: 25px -192px;
  -webkit-box-shadow: 0px 0px 0px 0px #676565;
  -moz-box-shadow: 0px 0px 0px 0px #676565;
  box-shadow: 0px 0px 0px 0px #676565;
}
/* line 627, ../scss/style.scss */
.js .project.expanded:hover .bottom-expander div {
  bottom: -5px;
}
/* line 634, ../scss/style.scss */
.js .bottom-expander {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  box-sizing: content-box;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
/* line 644, ../scss/style.scss */
.js .bottom-expander div {
  background: #fefefe url("img/sprt.png") no-repeat -40px -192px;
  text-indent: -9999px;
  display: inline-block;
  height: 100%;
  width: 80px;
  -webkit-border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  -ms-border-radius: 40px 40px 0 0;
  -o-border-radius: 40px 40px 0 0;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: -5px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 0px 5px 0px #676565;
  -moz-box-shadow: 0px 0px 5px 0px #676565;
  box-shadow: 0px 0px 5px 0px #676565;
  -webkit-transition: bottom 0.3s ease;
  -moz-transition: bottom 0.3s ease;
  -o-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}
/* line 665, ../scss/style.scss */
.js .article-body {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 671, ../scss/style.scss */
.js #contact {
  background: #101010;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/* line 680, ../scss/style.scss */
.js #contact textarea {
  max-height: 300px;
}
/* line 684, ../scss/style.scss */
.js #contact #contact-wrapper {
  margin-bottom: -48px;
}
/* line 688, ../scss/style.scss */
.js #contact.expanded #contact-wrapper {
  margin-bottom: -200%;
  -webkit-transition: margin-bottom 0.5s ease;
  -moz-transition: margin-bottom 0.5s ease;
  -o-transition: margin-bottom 0.5s ease;
  transition: margin-bottom 0.5s ease;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 696, ../scss/style.scss */
.js #contact.expanded #contact-wrapper #contact-form-expander {
  -webkit-filter: grayscale(0) opacity(1);
  -moz-filter: grayscale(0) opacity(1);
  filter: grayscale(0) opacity(1);
}
/* line 701, ../scss/style.scss */
.js #contact.expanded #contact-form {
  -webkit-box-shadow: inset 0px 0px 5px 0px #676565;
  -moz-box-shadow: inset 0px 0px 5px 0px #676565;
  box-shadow: inset 0px 0px 5px 0px #676565;
}
/* line 706, ../scss/style.scss */
.js #contact #form-status {
  color: #151414;
  min-height: 22px;
}
/* line 710, ../scss/style.scss */
.js #contact #form-status:before {
  content: '';
}
@media (min-width: 60em) {
  /* line 671, ../scss/style.scss */
  .js #contact {
    bottom: 48px;
    width: 400px;
    right: 5%;
  }
}
/* line 722, ../scss/style.scss */
.js #contact:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #101010;
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

/* line 737, ../scss/style.scss */
#contact {
  z-index: 2;
}

/* line 741, ../scss/style.scss */
.contact-item {
  display: inline-block;
  margin: 7px;
  vertical-align: top;
}
/* line 746, ../scss/style.scss */
.contact-item a {
  color: #bababa;
  min-height: 32px;
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  text-align: left;
  outline: 0;
  -webkit-filter: grayscale(1) opacity(0.7);
  -moz-filter: grayscale(1) opacity(0.7);
  filter: grayscale(1) opacity(0.7);
}
/* line 758, ../scss/style.scss */
.contact-item a:hover {
  -webkit-filter: grayscale(0) opacity(1);
  -moz-filter: grayscale(0) opacity(1);
  filter: grayscale(0) opacity(1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 765, ../scss/style.scss */
.contact-item #google-plus {
  background: url("img/sprt.png") no-repeat -75px -126px;
}
/* line 769, ../scss/style.scss */
.contact-item #twitter {
  background: url("img/sprt.png") no-repeat 0 -126px;
}
/* line 773, ../scss/style.scss */
.contact-item.email a {
  background: url("img/sprt.png") no-repeat 0 -156px;
}

/* line 780, ../scss/style.scss */
#contact-form {
  padding: 1.25em;
  padding-top: 1.25em;
  background: #e6e5e5;
  border: 2px solid #101010;
}
/* line 788, ../scss/style.scss */
#contact-form input, #contact-form textarea {
  margin: 5px 0;
  width: 100%;
}
/* line 794, ../scss/style.scss */
#contact-form textarea {
  margin-top: 0;
}
/* line 800, ../scss/style.scss */
#contact-form h3 {
  color: #151414;
}

/* line 805, ../scss/style.scss */
#form-submit {
  border: 0;
}

/* line 811, ../scss/style.scss */
#legal p {
  margin: 0;
  display: inline-block;
  padding: 0.625em 0;
}
/* line 817, ../scss/style.scss */
#legal .container {
  padding: 0 1.25em;
}

/* line 822, ../scss/style.scss */
#skills {
  display: inline-block;
}

/* line 826, ../scss/style.scss */
#skill-set {
  padding: 0 0 0 1.25em;
  margin-bottom: 0;
}

/* line 832, ../scss/style.scss */
#footer-main h3 {
  text-decoration: underline;
}

/* line 837, ../scss/style.scss */
#footer-nav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.625em 1.25em 0.625em 0;
}
/* line 843, ../scss/style.scss */
#footer-nav a {
  color: #363636;
  text-decoration: none;
}

/* line 851, ../scss/style.scss */
.footnote:before {
  content: '* ';
}

/*links*/
/* line 857, ../scss/style.scss */
article p a {
  text-decoration: none;
  border-bottom: 1px dotted #363636;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 864, ../scss/style.scss */
article p a:link {
  color: #1f9bb5;
  border-color: #1f9bb5;
}
/* line 869, ../scss/style.scss */
article p a:active {
  color: #EB1A1A;
  border-color: #EB1A1A;
}
/* line 874, ../scss/style.scss */
article p a:visited {
  color: #bababa;
  border-color: #bababa;
}
/* line 879, ../scss/style.scss */
article p a:hover {
  color: #bababa;
  border-color: #bababa;
}

/* line 886, ../scss/style.scss */
#scroll-top {
  margin: 1.25em auto 0 auto;
  width: 50px;
  height: 45px;
  display: block;
  text-align: center;
  position: relative;
  text-decoration: none;
  padding-top: 20px;
  color: #151414;
  font-size: 80%;
  outline: 0;
}
/* line 899, ../scss/style.scss */
#scroll-top:before {
  content: '';
  position: absolute;
  display: block;
  left: -25px;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 40px solid #cdcbcb;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 915, ../scss/style.scss */
#scroll-top:hover {
  color: #e6e5e5;
}
/* line 919, ../scss/style.scss */
#scroll-top:hover:before {
  border-bottom-color: #817e7e;
}
