$backgroundColor: #FEFEFE;
$bodyColor: #D1D1D1;
$barColor: #101010;
$lightBarColor: #363636;
$highlightColor: #1f9bb5;
$textColor: hsl(358, 1%, 8%);
$lightTextColor: #f3f3f3;
$padding: 20px;
$largestWidth: 1180px;
$expanderWidth: 24px;
$articleNegativeMargin: 3em;
$closeButtonColor: #ec0000;
$contactsButtonHeight: 32px;
$contactsButtonMarginTop: 15px;
$contactsButtonMarginBottom: 7px;
$sprite: 'img/sprite.png';
$formWidth: 300px;
$contactButtonsSpace: 48;
$contactButtonsBottomSpace: $contactButtonsSpace + px;

$basepx: 16;


$total-columns  : 2;             
$column-width   : 4em;            
$gutter-width   : 1em;            
$grid-padding   : $gutter-width; 

$container-style: fluid;

$breakpoint30: 30em;
$breakpoint50: 50em;
$breakpoint60: 60em;
$breakpoint70: 70em;

$media-layout-medium: $breakpoint50 4;
$media-layout-large: $breakpoint70 6;

@import "susy";
@import "icons";

@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/filter";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";

// Convert PX to EM global function
@function pxtoem($px, $basepx){
    @return ($px/$basepx)+0em;
}

@mixin vertAlignCenter($wdth) {
  width: $wdth;
  margin: 0 auto;
}

@mixin logoSize($wdth) {
    background-size: $wdth;
    padding-left: $wdth + $padding;
    height: $wdth;
}

@mixin columns($cols) {
    .column{
        width: floor( percentage((1/$cols)) );
    }
    
    .images{
        width: floor( percentage(2*(1/$cols)) );               
    }
}


@mixin paddingTopBottom() {
    padding: $padding 0 $padding 0;
}

/*border box for all elements*/
*{
    @include box-sizing('border-box');
}

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: 'Muli',sans-serif;
  font-style: normal;
}


#masthead {    
    position: relative;
    z-index: 9999;  
    margin-bottom: pxtoem($contactButtonsSpace, $basepx) + 1em; /*for contact icons*/ 
    
    .container {        
        background: $barColor;
        
        z-index: 3;
        
        padding: $padding $padding $padding/2 $padding;
        
        @media (min-width: $breakpoint60) {
            z-index: 1;
        } 
        
        @media (min-width: $breakpoint50) {
            padding-bottom: $padding;
        }      
    }
         
    
    h1{
       font-size: 2.4em;
       margin-bottom: 0; 
       display: inline-block;
    }
    
    h2{
       margin-bottom: 0;       
    }
    
    hgroup {
        /*background: url(../img/css/logo.gif) no-repeat;*/        
        /*@include logoSize(120px);*/
        vertical-align: middle;
        display: inline-block;
        position: relative;
        z-index: 1000;
        
        @media (max-width: $breakpoint30) {
            font-size: 60%;
        }
    } 
    @media (min-width: $breakpoint50) {
        padding-bottom: 0;
    } 
    
    @media (min-width: $breakpoint60) {
        margin-bottom: 1em;
    }  
        
}

#logo {
    width: 120px;
    display: inline-block;
    margin-right: 1em;
    
    @media (max-width: $breakpoint30) {
        width: 80px;
        margin-right: 0.5em;
    } 
} 



#footer-logo {
    width: 40px;
    float: right;
    padding-top: 8px;
    opacity: .7;
} 

#content{
   position: relative;
   z-index: 1; 
}

.images, .column {
    display: inline-block; 
    vertical-align: top;
}


.images {
    @include span-columns(2 omega,2);
    
    @include at-breakpoint($media-layout-medium){
       
       @include span-columns(2 omega,4); 
    }
    
     @include at-breakpoint($media-layout-large){
       
       @include span-columns(4 omega,6); 
    }
}

.article-body, .project-head, {
    @include span-columns(2 omega,2);
    
    @include at-breakpoint($media-layout-medium){
       
       @include span-columns(2,4); 
    }
    
    @include at-breakpoint($media-layout-large){
       
       @include span-columns(2,6); 
    }
}

#about {
    @include span-columns(2,2);
    
    @include at-breakpoint($media-layout-medium){
       
       @include span-columns(2,4); 
    }
    
    @include at-breakpoint($media-layout-large){
       
       @include span-columns(3,6); 
       
           p {
            margin-bottom: 0;
        }
    }
    
    
}

#skills{
    @include span-columns(2,2);
    
    @include at-breakpoint($media-layout-medium){
       
       @include span-columns(2 omega,4); 
    }
    
    @include at-breakpoint($media-layout-large){
       
       @include span-columns(2,6); 
    }
}

/*#footer-nav {
     @include span-columns(2,2);
    
    @include at-breakpoint($media-layout-medium){
       
       @include span-columns(2 omega,4); 
    }
    
    @include at-breakpoint($media-layout-large){
       
       @include span-columns(1 omega,6); 
    }
}*/

#nav li {
    display: inline;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: normal;
}

.container {
    
    max-width: 1920px;
    padding: $padding;
    position: relative;
    
    @include container;
    
    @media (min-width: $breakpoint50) {
        margin: 0 auto;
        width: 90%; 
    }
}

#masthead, #mastfooter, #legal{
    background: $barColor;
    color: $lightTextColor;
}

#mastfooter {
    background: $lightBarColor;
}

article {
    /*border-bottom: 1px solid #999;*/
    @include paddingTopBottom();  
    padding-top: 30px;
    position: relative;
    
    /*@include transition(all 0.5s ease);*/

   padding-left: $articleNegativeMargin;
   margin-left: -$articleNegativeMargin;

    .project-head, .images {
        cursor: pointer;
    } 
    
    img{
        border: 1px solid #ccc;
    }  
    
    &.mobile img{
        border: 0;
    } 
}

.js .inactive /*do only if javascript active*/ {
    height: 200px;
    overflow-y: hidden;
    overflow-x: visible;
    
    @media (min-width: $breakpoint50) {
        height: 160px;
    }
}

.expander {
    /*background: url(img/sprite.png) no-repeat 0 -85px;*/
    display: none;
    
    @media (min-width: $breakpoint50) {
        display: block;
    }  

    position: absolute;
    width: $expanderWidth;
    height: $expanderWidth;
    top: 0;
    left: - $expanderWidth;   
    opacity: 0;
    text-decoration: none;
    font-weight: bold;
    color:$textColor;
    background: #fff;
    z-index: 1;
    outline: 0;
    
    @include border-radius($expanderWidth);
    
    border: 1px solid $textColor;
    
    $iconX: 12px;
    $iconY: 2px;
    
    box-sizing: content-box;
    
    
    &:after {
        content: '';
        left:$expanderWidth/2 - $iconX/2;
        top:$expanderWidth/2 - $iconY/2;
        width:$iconX;
        height:$iconY;
        background:$textColor;
        display: block;
        position: absolute;
    }

    &:before {
        content: '';
        z-index:10;
        left:$expanderWidth/2 - $iconY/2;
        top:$expanderWidth/2 - $iconX/2;
        width:$iconY;
        height:$iconX;
        background:$textColor;
        display: block;
        position: absolute;
    }
}

.focused .expander{
    opacity: 1;
     @include transition(all 0.3s ease);  
    @include transform( translateX(-15px) );
}

.expanded .expander{
    opacity: 1;
    @include transition(all 0.3s ease);  
    @include transform(translateX(-15px) rotate(-45deg) );
    
     &:after {
         background:$closeButtonColor;
     }
     
     &:before {
         background:$closeButtonColor;
     }
     
}


.js .inactive p, .js .inactive .article-footer{  
    @include opacity(0);
}

.project p, .project .article-footer {  
    @include transition(opacity 0.2s ease);    
}

.project-heading {
    position: relative;
}


article img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.article-divider {
    margin-top: 0;
}

.transition{
    @include transition(all 0.2s ease); 
    @include transform(translateZ(0));  
}

.list-heading {
    margin-bottom: 4px;
    color: hsl(0, 1%, 50%);
}

.button {
    background: #bababa;
    padding: 5px 7px;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    color: $backgroundColor;
    
    @include border-radius(5px);
    
    &:hover {
        color: $highlightColor;
        background: #dcdcdc;
        @include box-shadow();
    }
}

input, textarea {
    font-family: 'Muli',sans-serif;
    border: 1px solid hsl(0, 1%, 50%); 
    padding: 2px;
}

.external-link {
    position: relative;
    padding-right: 24px;
    
    &:after{
        content: '';
        position: absolute;
        top: 8px;
        right: 3px;
        display: block;
        width: 13px;
        height: 13px;
        background: url(img/sprite.png) no-repeat 0 -112px;
        
    }
}



.technologies {
    margin: 0;
    padding: 4px 0 0 0;
}

.annum {
    border-top: 1px solid $barColor;
    position: relative;
    padding-bottom: $padding;
}

.annum-heading {
    position: absolute;
    
    color:$highlightColor;
    
    top: -1.3em;
    left: 0;
    
    @media (min-width: $breakpoint50) {
    top: -0.7em;
    left: -2.5em;
  }
           
}

.content-heading {
    font-weight: bold;
    margin-bottom: 2em;
}

#technologies /*top footer bar*/{
    
    background: hsl(0, 1%, 80%);
    
    height: 42px;
    
    .container {
        padding: 0;
    }
}

#html5 img{
    margin-top: -11px;
}

#contact {
    
    position: relative;
    z-index: 100;
    
    #contact-options {
        margin: 0;
        padding: 0 $padding;
        background: $barColor;
        text-align: center;
                 
        @include border-radius(0 0 8px 8px); 
    
        @media (min-width: $breakpoint60) {
            text-align: right;
            padding: 0 $padding;
            
            .email{
                margin-right: 0;
            }
        }   
    }
    
    input {
        display: block;
    }
    
    
}

.no-js #contact {
    
    #contact-form-expander{
        display: none;
    }
}

#contact-wrapper {
    position: relative;
    
    @include transition(margin-bottom .3s ease); 
    @include transform(translateZ(0));  
}


.js {
    #contact {

        background: $barColor;
        
        position: absolute;
        width: 100%;
        
        bottom: 0;
        
        textarea {
            max-height: 300px;
        }
    
        #contact-wrapper {
            margin-bottom: - $contactButtonsBottomSpace;
        }

        &.expanded  #contact-wrapper{         
            //@include transform(translateY(100%) translateX(0) );  
            
            
           margin-bottom: -200%;
            @include transition(margin-bottom .5s ease);
            @include transform(translateZ(0));  
            
            #contact-form-expander {
                @include filter (grayscale(0)  opacity(1));
            }
        } 
        
        &.expanded #contact-form{
            @include box-shadow(inset 0px 0px 5px 0px hsl(0, 1%, 40%));
        }
        
        
        #form-status{
            
            min-height: 22px;
            
            &:before{
                content: '';                  
            }  
        }
        
        @media (min-width: $breakpoint60) {
            bottom:  $contactButtonsBottomSpace;
            width: 400px;
            right: 5%;

        }  
        
         &:after{
            content: '';
            width: 100%;
            height: 100%;
            background: $barColor;
            display: block;
            bottom: 0;
            left: 0;
            position: absolute;
            z-index: 1;
        }   
    }

}

#contact {
   z-index: 2; 
}

.contact-item {
    display: inline-block;
    margin:$contactsButtonMarginBottom;
    vertical-align: top;
    
    a {
       color:  $bodyColor;
       min-height: $contactsButtonHeight;
       display: block;
       width: 32px;
       height: 32px;
       text-indent: -9999px;
       text-align: left;
       outline: 0;
       
       @include filter (grayscale(1)  opacity(0.7));
       
       &:hover {
           @include filter (grayscale(0)  opacity(1));
           @include transition(all 0.3s ease);
       }
       
    }
    
    #google-plus{
        background: url(//ssl.gstatic.com/images/icons/gplus-32.png);
    }
    
    #twitter {
        background: url(img/sprite.png) no-repeat 0 -125px;
    }
    
    &.email a{
        background: url(img/sprite.png) no-repeat 0 -155px;
    }
    
    
}

#contact-form {
    
    padding: $padding;
    padding-top: $padding;
      
    
    background: hsl(0, 1%, 90%); 
    
    input, textarea {

       margin: 5px 0;
       width: 100%;
    } 
    
    textarea{
        margin-top: 0;
    } 
    
    border: 2px solid $barColor; 
    
    h3 {
        color: $textColor;
    }
}

#form-submit {
    border: 0;
}


#legal {
    p{
        margin: 0;
        display: inline-block;
        padding: $padding/2 0;
    }
    
    .container {
        padding: 0 $padding;
    }
}

#skills{
    display: inline-block;
}

#skill-set {
    padding: 0 0 0 1em;
    margin-bottom: 0;
}

#footer-nav {
    float: right;
    padding: $padding/2 $padding $padding/2 0;
    
    a {

        color: $lightBarColor;
    }
}

.footnote{
    &:before{
        content:'* ';
    }
}
