$backgroundColor: #FEFEFE;
$bodyColor: #D1D1D1;
$textColor: hsl(358, 1%, 8%);
$largestWidth: 1180px;

@mixin vertAlignCenter($wdth) {
  width: $wdth;
  margin: 0 auto;  
}

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: 'Muli',sans-serif;
}

#container {
  background: $bodyColor;
  
  @include vertAlignCenter($largestWidth);
}

header {
  font-size: 3em;
}

#nav li {
    display: inline;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

