$backgroundColor: #FEFEFE;
$bodyColor: #D1D1D1;
$barColor: #101010;
$textColor: hsl(358, 1%, 8%);
$padding: 20px;


$largestWidth: 1180px;

@mixin vertAlignCenter($wdth) {
  width: $wdth;
  margin: 0 auto;  
}

@mixin logoSize($wdth) {
    background-size: $wdth;
    padding-left: $wdth + $padding;
    height: $wdth;
}

@mixin colWidth($cols) {
    width: floor( percentage((1/$cols)) );
}

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: 'Muli',sans-serif;
  font-style: normal;
}

#container {
  background: $bodyColor;
  
  @include vertAlignCenter($largestWidth);
}

#masthead {    
    h1{
       font-size: 2.4em;
       margin-bottom: 0; 
    }
    
    h2{
       margin-bottom: 0; 
    }
    
    hgroup {
        background: url(../img/css/logo.gif) no-repeat;        
        @include logoSize(120px);
        vertical-align: middle;
        display: table-cell;
    }            
}

#nav li {
    display: inline;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    width: 90%;
    padding: $padding;
}

header, footer {
    background: $barColor;
    color: #fff;
}

.column {
    @include colWidth(3);
}
