# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.project
jquery.1.6.2.sdocml
intermediate/
publish/
.externalToolBuilders/
config.rb
.settings/
.sass-cache/